@namespace CompanyName.ProjectName.Blazor
@using OneOf
@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang">
        <!--todo: selectLang-->
    </div>
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" style="padding-left: 44%" src="assets/logo.svg"/>
                </a>
            </div>
            <div class="header">
                <span style="padding-left: 45%" class="title">Abp Vnext Ant Design Blazor</span>
            </div>
        </div>
        @Body
    </div>

</div>

@code
{
    public LinkItem[] Links { get; set; } =
        {
            new LinkItem
            {
                Key = "Ant Design Blazor",
                Title = "Ant Design Blazor",
                Href = "https://antblazor.com",
                BlankTarget = true,
            },
            new LinkItem
            {
                Key = "github",
                Title = (RenderFragment) (@<Icon Type="github"/>),
                Href = "https://github.com/ant-design-blazor/ant-design-pro-blazor",
                BlankTarget = true,
            },
            new LinkItem
            {
                Key = "Blazor",
                Title = "Blazor",
                Href = "https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor?WT.mc_id=DT-MVP-5003987",
                BlankTarget = true,
            }
        };
}